.catalog-card {
  width: 100%;
  height: 100%;
  padding: 40px;

  border-radius: 5px;
  box-shadow: 0 0 13px 0 rgba($color-free-speech-blue, 0.2);

  @include vp-1023 {
    padding: 30px;
  }

  &__title {
    margin: 0 0 20px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: $color-resolution-blue;
  }

  &__image-wrapper {
    width: 258px;
    height: 141px;
    margin-bottom: 20px;

    @include vp-1023 {
      width: 250px;
    }

    @include vp-767 {
      width: 100%;
      height: auto;
    }

    img {
      width: 258px;
      height: 141px;

      object-fit: contain;

      @include vp-1023 {
        width: 250px;
      }

      @include vp-767 {
        width: 100%;
        height: auto;
      }

      @include vp-389 {
        min-width: 180px;
      }
    }
  }

  &__description {
    margin: 0 0 16px;
    padding-right: 20px;

    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;

    color: $color-eclipse;

    @include vp-374 {
      padding-right: 0;

      font-size: 12px;
      line-height: 22px;
    }
  }

  &__button {
    width: 100%;

    &--desktop {
      @include vp-767 {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include vp-767 {
        display: inline-flex;
      }
    }
  }
}
